<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IkeAsistencia"
        tools:targetApi="31">

        <activity
            android:name="com.example.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.example.Usuarios.IngresoUsuariosActivity" />
        <activity android:name="com.example.Funcionarios.IngresoFuncionariosActivity" />
        <activity android:name="com.example.Funcionarios.MenuFuncionariosActivity"/>
        <activity android:name="com.example.Usuarios.MenuUsuariosActivity"/>


        <activity android:name="com.example.Funcionarios.CrearUsuarioActivity"/>
        <activity android:name="com.example.Funcionarios.ModificarUsuariosActivity"/>
        <activity android:name="com.example.Funcionarios.EliminarUsuariosActivity"/>

        <activity android:name="com.example.Funcionarios.CrearTrabajadorActivity"/>
        <activity android:name="com.example.Funcionarios.ModificarTrabajadorActivity"/>
        <activity android:name="com.example.Funcionarios.EliminarTrabajadorActivity"/>

        <activity android:name="com.example.Funcionarios.CrearProveedorActivity"/>
        <activity android:name="com.example.Funcionarios.ModificarProveedorActivity"/>
        <activity android:name="com.example.Funcionarios.EliminarProveedorActivity"/>

        <activity android:name="com.example.Funcionarios.CrearTecnicoActivity"/>
        <activity android:name="com.example.Funcionarios.ModificarTecnicoActivity"/>
        <activity android:name="com.example.Funcionarios.EliminarTecnicoActivity"/>

        <activity android:name="com.example.Usuarios.CrearAsistenciaActivity"/>
        <activity android:name="com.example.Usuarios.ModificarAsistenciaActivity"/>
        <activity android:name="com.example.Usuarios.EliminarAsistenciaActivity"/>

        <activity android:name="com.example.Usuarios.ModificarPerfilActivity"/>




    </application>

</manifest>
